systemLog:
    destination: file
    path: /var/log/mongodb/mongod-mongos1.log
net:
    port: 27021

# how the process runs
processManagement:
  fork: true  # fork and run in background
  pidFilePath: /var/run/mongodb/mongod-mongos1.pid  # location of pidfile

sharding:
  configDB: config1/127.0.0.1:27020
